.limly-button{
    background: linear-gradient(to left, #00ff87, #60efff);
    transition: all ease 0.3s;
    font-family: "Schibsted Grotesk", serif;
  }
  
  button:hover {
    transform: scaleY(0.85);
    transform: scaleX(0.85);
  }
  
  
  @media screen and (max-width:990px){
    .limly-button{
      width: 100% !important;
    }
  }