
.features-overview {
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .features-heading {
    font-size: 2rem;
    margin-bottom: 120px;
    color: #333;

  }
  
  .features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  /* Feature card */
  .feature-card:nth-child(even){
    transform: translateY(-70px);
  }
  .feature-card {
    background: white;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; /* Add pointer cursor for hover interaction */
  }
  
  .feature-card:hover {
     /* Slight lift effect */
    box-shadow: 0 8px 16px 0 rgb(0%, 100%, 52.94%, 0.3); /* Stronger shadow */
    border-color: #00ff87;
  }
  
  .feature-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease; /* Smooth scaling effect */
  }
  
  .feature-card:hover .feature-icon {
    transform: scale(1.2); /* Scale up icon on hover */
  }
  
  .feature-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #555;
    transition: color 0.3s ease; /* Smooth color transition */
  }
  
  .feature-card:hover .feature-title {
    color: #007bff; /* Change text color on hover */
  }
  
  .feature-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  